<ion-view class="bgPeople" view-title="Подбор маршрута">
  <ion-content has-header="true" padding="true">
    <div class="row row-center">
      <div class="col col-center">
        <div class="dashboard">
          <div class = "majorScreen">
            <a href="#/app/quest">
              <button class="button button-outline button-light killerButton">
                Подобрать тур
              </button>
            </a>
            <a href="#/app/tours/1">
              <button class="button button-full button-block button-calm">
                Случайный тур
              </button>
            </a>
          </div>
        </div>
  </ion-content>
</ion-view>