<ion-view view-title="Подбор тура">
  <ion-content>
    <form action="" name="quest">
      <div class="list">
      <div class="item item-divider">
        Выберите погоду {{temperature}} &#8451;
      </div>
      <div class="item range range-positive">
        <i class="icon ion-ios-snowy"></i>
        <input type="range" name="volume" min="-60" max="60" value="33" ng-model="temperature">
        <i class="icon ion-ios-sunny"></i>
      </div>
      <div class="item item-divider">
        Выставьте цену {{priceMin}} - {{priceMax}} у.е.
      </div>
      <div class="item range range-positive">
        <span>min</span>
        <input type="range" name="volume" min="0" max="10000" value="33" ng-model="priceMin">
        <i class="icon ion-social-usd"></i>
      </div>
      <div class="item range range-positive">
        <span>max</span>
        <input type="range" name="volume" min="0" max="10000" value="33" ng-model="priceMax">
        <i class="icon ion-social-usd"></i>
      </div>
      <div class="item item-divider">
        Выберите чем хотите заняться
      </div>
      <a ng-repeat="act in activities" class="item item-thumbnail-left" href="#/app/tours/1">
        <img src="{{act.img}}">
        <h2>{{act.name}}</h2>
      </a>
    </div>
    </form>
  </ion-content>
</ion-view>
