<div class="bar bar-footer bar-balanced">
  <div class="title">Подобрать тур</div>
</div>
<ion-view view-title="Подбор тура">
  <ion-content>
    <form action="" name="quest">
      <div class="list">
      <ion-list>
        <ion-checkbox ng-repeat="key in uniqueKeys" ng-model="filter.blue"> {{key.name}}</ion-checkbox>
      </ion-list>
      <br>
      <br>
    </div>
      <a ng-repeat="act in activities" class="item item-thumbnail-left" href="#/app/tours/1">
        <img src="/img/cover.jpg">
        <h2>{{act}}</h2>
        <p>Nine Inch Nails</p>
      </a>
    </div>
    </form>
  </ion-content>
</ion-view>
