<ion-view view-title="Tours">
  <ion-content>
    <ion-list>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input ng-model="searchInput" ng-change="searchChanged()" type="text" placeholder="Search">
        </label>
      </div>
      <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="tour in tours" href="#/app/tours/{{tour.id}}">
        <img ng-src={{tour.image}}>
        <h2>{{tour.name}}</h2>
        <p class="description">{{desc(tour)}}</p>
        <ion-option-button class="button-positive" ng-click="getDirections(tour)">
          <i class="ion ion-map"></i>&nbsp;Show map
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
